<%= content_for :menu do %>
""
<% end %>

<div class="bg-black w-full p-3 animate__animated animate__zoomIn" style="font-family: menlo;">

  <p class="pb-2 text-white"><%= link_to "✕ salir de terminal", :back %></p>

<div class="py-10 ">
<h1>.         __                                     __</h1>
<h1>.  ____  / /_     ____ ___  __  __   ____  _____/ /_</h1>
<h1>. / __ \/ __ \   / __ `__ \/ / / /  /_  / / ___/ __ \</h1>
<h1>./ /_/ / / / /  / / / / / / /_/ /    / /_(__  ) / / /</h1>
<h1>.\____/_/ /_/  /_/ /_/ /_/\__, /    /___/____/_/ /_/</h1>
<h1>.                        ./____/</h1>
</div>





  <h1 class="text-2xl text-white pt-4">Alberto Greco (Buenos Aires, Argentina, 15 de enero de 1931 - † Barcelona, España,12 de octubre 1965) fue un artista plástico argentino del siglo XX.</h1>

  <h1 class="text-pink-500 text-xl">El artista inclasificable</h1>
  <h1 class="text-red-600">
    A lo largo de su corta carrera, Alberto Greco supo desarrollarse en distintos campos creativos, entre los que se destacan: la pintura, el dibujo, la poesía y la literatura, evolucionando hacia una línea de investigación conceptual en la que sobresale la creación de un movimiento unipersonal al que él mismo denominó Vivo-Dito o Arte Vivo. El Manifiesto Vivo-Dito, escrito por él en 1963, explicita su posición artística en la que la acción de señalar con el dedo dota a contextos y situaciones de un valor imprevisto y susceptible de convertirse en obra de arte. En conjunto con sus vivo-ditos inauguró un tipo de manifestación fundamentada en la idea de que la obra ya se encuentra realizada, sólo es necesario señalarla.
    El arte Vivo-Dito es entendido por el artista como “la aventura de lo real, el documento urgente, el contacto directo y total con las cosas, los lugares, las gentes, creando situaciones, lo imprevisto. Es mostrar y encontrar el objeto en su propio lugar.” Arte Vivo, Movemento Dito. Alberto Greco. 24 de julio de 1962.
    Toda la producción de Greco restablece la ecuación arte-vida y reivindica la actitud vital del artista en la significación de la obra de arte, concebida como proceso, cuyo planteamiento radical anticipa los desarrollos artísticos que darán lugar a un cambio de paradigma en los años siguientes. Greco alcanzó un intento de superación del espacio artístico como lenguaje y vehículo de representación, experimentando con nuevos medios expresivos que plantean la disolución de la pintura, llevando las obras al límite de su concreción física.
    A pesar de haber comenzado su carrera como pintor y de ser considerado uno de los pioneros del informalismo en América Latina, desarrolló diversos y variados conceptos que lo llevaron a evolucionar drásticamente en cuanto a estética e intención en la obra de arte. Estos cambios radicales comenzaron en 1961, hasta su temprano fallecimiento en 1965.
    Alberto Greco estudia por un breve periodo de tiempo en la Escuela Nacional de Bellas Artes Manuel Belgrano y luego desde 1947 hasta 1948 asiste a los talleres de Cecilia Marcovich y de Tomás Maldonado. En 1954 realiza su primer viaje a Europa, donde expone por primera vez en la galería La Roue de París, Francia. Luego de su retorno a Buenos Aires en 1956, se instala en Rio de Janeiro y más tarde en Sao Paulo, Brasil hasta 1958. En 1959 integra el Movimiento Informalista Argentino junto con Kenneth Kemble, Enrique Barilari, Olga López, Towas, Fernando Maza, Luis Alberto Wells y Mario Pucciarelli. En 1961, realiza una muestra de pinturas en Buenos Aires en la Galería Pizarro, en la cual presenta la serie Las Monjas. Poco después se instala en Paris donde realiza, en 1962, la Primera Exposición de Arte Vivo, “firmando” personas. En Génova, en ese mismo año, publica el Manifiesto Dito dell’Arte Vivo en italiano. En 1963 viaja a Piedralaves en Ávila, España, donde realiza la serie de acciones fotografiadas por Montserrat Santamaría. En 1964, expuso en la galería Juana Mordó en Madrid y regresó a Buenos Aires donde presentó su experiencia de Arte Vivo: Mi Madrid Querido, en la galería Bonino con la colaboración del bailarín Antonio Gades. En 1965, se instaló en Barcelona, donde escribió Besos Brujos, una obra plástico-performática, considerada una de sus piezas más emblemáticas. Se suicidó en octubre de ese mismo año, escribiendo FIN sobre las palmas de sus manos y tomando barbitúricos que desencadenaron su muerte, antes de cumplir treinta y cinco años.
    En 1991, en el Instituto Valenciano de Arte Moderno, se presentó la mayor muestra dedicada a Greco, con la curaduría del crítico español Francisco Rivas; un año más tarde fue exhibida en el Museo Nacional de Bellas Artes en Buenos Aires, Argentina.
  </h1>

  <h1>https://www.clarin.com/revista-enie/rollo-inedito-expulsion-greco_0_pGvXMSIwy.html</h1>
  <h1>https://www.clarin.com/revista-enie/arte/alberto-greco-guru-propio-culto_0_nXLaPXeRf.html</h1>
  <h1>https://www.infobae.com/cultura/2021/04/16/los-infinitos-mundos-de-alberto-greco-el-artista-genial-que-firmo-su-suicidio-como-su-ultima-obra-de-arte/</h1>
  <h1>https://www.clarin.com/cultura/alberto-greco-entender-artista-pinto-propia-muerte_0_lxzl7MDaK.html</h1>
  <h1>https://www.ambito.com/espectaculos/arte/el-museo-moderno-echa-luz-un-rebelde-impar-alberto-greco-n5184246</h1>
  <h1>https://www.telam.com.ar/notas/202104/550156-un-artista-irreverente-y-provocador-la-primera-retrospectiva-de-alberto-greco-en-argentina.html</h1>
  <h1>https://www.lanacion.com.ar/cultura/greco-inedito-las-aventuras-italianas-de-un-provocador-nid07042021/</h1>
  <h1>https://www.argentinaperformanceart.com/alberto-greco</h1>


  <h1 class="text-pink-500 text-xl">Evolución artística</h1>

  <h1 class="text-white">
    Después de intervenir en la fundación del informalismo argentino en 1959, junto a los artistas Baulari, Pucciarelli, Wells y Luis Felipe Noé, entre otros, se alejó de la expresión pictórica y se adentró en el campo del arte conceptual. Pasó la última etapa de su carrera artística y de su vida en España.
    Sus aportaciones fueron fundamentales en los inicios del arte conceptual en España, poniendo en práctica un tipo de intervenciones artísticas que él mismo denominó vivo dito o arte vivo. A su faceta de artista-pintor multimedia añadió su faceta de poeta.
    Entre 1947 y 1948 asiste a los talleres de Cecilia Marcovich y Tomás Maldonado.
    En 1950 pública Fiesta, libro de versos, en edición artesanal de 150 ejemplares.
    De 1954-56 data su primer viaje por Europa: Italia, Austria, Londres y Francia.
    En 1954 expone por primera vez en la galería La Roue de París.
    En 1954, después de haber llevado a cabo diversas y variadas experiencias artísticas para decidir hacia dónde apuntaba su vocación -había intentado sin mucho éxito ser actor teatral, publicado poesía, había escrito una novela- inicia una vida viajera que le llevará a recorrer medio mundo.
    En 1956 vuelve a la Argentina. Pinta un mural en la Facultad de Derecho de la Universidad de Buenos Aires y expone en la galería Antífona.
    Al año siguiente se traslada a Brasil, exponiendo en el Museo de Arte Contemporáneo. Entusiasmado por el arte brasileño, retorna a Buenos Aires, donde organiza la muestra titulada Artistas de São Paulo. Su intención es formar un gran movimiento de arte informalista en Hispanoamérica.
    En 1959 se integra plenamente en el movimiento informalista, pero rápidamente se desencantó al observar la deriva formalista y decorativista que este está tomando. Es entonces cuando realiza su aproximación al Arte Conceptual.
    Realiza Vivo-Ditos, en París, en Roma, en Madrid y, sobre todo, en Piedralaves, una pequeña localidad de Ávila, donde vivirá algún tiempo, convirtiendo a esta pequeña comunidad rural en un espacio artístico propicio para la realización de sus intervenciones. Greco hace sostener a los habitantes del pueblo carteles con textos tales como "Esto es un Alberto Greco", "Obra de arte señalada por Alberto Greco" o, simplemente "Alberto Greco".
    Sus Vivo Dito tienen un claro componente de provocación política. En el año 1962, durante su último viaje a Italia, aprovecha la inauguración de la Bienal de Venecia de ese año para lanzar un montón de ratas al paso del Presidente de la República italiana con el consiguiente gran escándalo.
    El espíritu irreverente de Greco, le lleva a disfrazarse de monja en Roma mientras estaba teniendo lugar el Concilio Vaticano II. Estas intervenciones, unidas a su participación en la representación de la obra teatral "Cristo 63", ofensiva para la Iglesia católica, hacen que las autoridades italianas le inviten a abandonar el país. De 1962 data la escritura de su manifiesto "Dito del Arte Vivo".
    La integración de sus obras dentro del ámbito artístico del Arte conceptual no significó su abandono del Informalismo. Sus intervenciones públicas fueron combinándose con dibujos, cuadros y collages en los que se mezclaban el gesto espontáneo y descontrolado del Tachismo, las grafías irregulares y apasionadas del Arte Bruto y la simultaneidad de imágenes inconscientes tomadas del Surrealismo y el Dadaísmo, dando forma a un informalismo heterogéneo y bastante alejado de las maneras amables y decorativistas de otros representantes. Así, aparecen escrituras automáticas, dibujos inconclusos, bocetos, manchas, trozos de papel pegados, impresiones con tinta, todo un amplísimo repertorio combinado con un variado espectro de acciones y agresiones al soporte, expresión, según algunos críticos, de una interioridad anímica convulsa y agitada.
    Después de su periplo europeo termina instalándose en Madrid, donde entra en relación con los componentes del Grupo El Paso, con Antonio Saura y Manuel Millares sobre todo.
  </h1>

  <h1>https://www.lanacion.com.ar/cultura/alberto-greco-vida-como-arte-nid2321597</h1>
  <h1>https://www.lanacion.com.ar/cultura/alberto-greco-plato-fuerte-otro-ano-bien-nid2314125</h1>
  <h1>https://www.telam.com.ar/notas/201910/403284-de-alberto-greco-a-yoko-ono-y-de-lucio-fontana-a-yves-klein-claves-del-nuevo-moma.html</h1>
  <h1>https://www.clarin.com/cultura/alberto-greco-artista-inclasificable-firmaba-personas-obras-arte_0__jLqBolk5.html</h1>
  <h1>https://www.ambito.com/edicion-impresa/arte/la-mala-letra-el-homenaje-un-provocador-los-anos-60-n5029904</h1>
  <h1>https://www.perfil.com/noticias/arte/alberto-greco-entre-la-mala-letra-y-el-dibujo-de-trazo-rabioso.phtml</h1>
  <h1>https://www.lavoz.com.ar/numero-cero/vuelo-nocturno-gran-escape-de-alberto-greco</h1>
  <h1>https://www.lanacion.com.ar/cultura/besos-brujos-alberto-greco-tiene-su-destino-nid2166818</h1>
  <h1>http://www.laizquierdadiario.com/Alberto-Greco-Besos-Brujos-una-muestra-homenaje-22413</h1>
  <h1>https://www.lanacion.com.ar/cultura/alta-fidelidad-alberto-greco-dj-las-canciones-de-la-primer-novela-pop-nid2157309</h1>
  <h1>https://www.lanacion.com.ar/cultura/arte-greco-y-la-escritura-en-obra-nid1800943</h1>
  <h1>http://revistaerrata.gov.co/contenido/traficos-y-torsiones-queercuir-en-el-arte-cuerpos-contraescrituras</h1>

  <h1 class="text-white text-xl">El final</h1>
  <h1 class="text-pink-600">
    En España continúa trabajando en sus proyectos Vivo dito y expone en la Galería Juana Mordó en 1964. Un año después se suicida en Barcelona. La propia muerte del artista se convierte en la más radical de sus intervenciones artísticas. En 1965 elige para suicidarse la ciudad de Barcelona, comunicando a sus allegados que viajará a la Ciudad Condal para poner fin a su vida. Greco no dejó de ser artista ni al final de su vida. El propio acto de su muerte voluntaria, la convirtió Greco en un gesto artístico. Mientras la sobredosis de barbitúricos que había consumido comenzaba a hacer su efecto, sobre la palma de su mano izquierda -como ya lo solía haber realizado en el ángulo inferior derecho de alguno de sus cuadros- escribió la palabra Fin y sobre la pared Esta es mi mejor obra.
    Desde su muerte y sobre todo a partir de la década de 1990 se ha producido un proceso de recuperación histórica de su obra. En 1991, en el IVAM de Valencia, se presentó la mayor muestra dedicada a Greco; la misma muestra se pudo ver, un año más tarde, en el Museo Nacional de Bellas Artes de Buenos Aires.
  </h1>

</div>

