.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

// #intro {
//   animation: bounce; /* referring directly to the animation's @keyframe declaration */
//   animation-duration: 3s; /* don't forget to set a duration! */
// }
