.right {
  height: 100vh;
  overflow: auto;
}

.left {
  height: 100vh;
  overflow: auto;
}

// .vertical-menu {
//   text-align:center;
//   -moz-transform: rotate(-90deg) translateX(-100px) translateY(-90px);
//   -webkit-transform: rotate(-90deg) translateX(-100px) translateY(-90px);
//   -o-transform: rotate(-90deg) translateX(-100px) translateY(-90px);
//   transform: rotate(-90deg) translateX(-100px) translateY(-90px);
//   height: 2%;
//   margin: 0;
// }
