<div class="menu justify-center x-4">
  <div class="bg-yellow-100 h-screen px-4 flex-none">
    <% @lives.each do |live| %>
      <div class="menu_i hover:text-yellow-500 pt-3 pb-2"><%= link_to live.abbreviation, life_path(live), class:"menu_i_tx hover:text-yellow-500" %></div>
    <% end %>
    <div class="menu_i hover:text-yellow-500"><span class="menu_i_tx"><%= link_to "✕", phases_path %></span></div>
  </div>
</div>


<%= @live.title %>
