<div class="left flex-grow">
  <div class="bg-gray-100 h-screen px-4 pt-5">
    <% @phases.each do |phase| %>
    <h1 class="text-4xl hover:text-yellow-300"><%= link_to phase.title, phase_path(phase) %></h1>
    <% end %>
  </div>
</div>
